# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [1]:

import pandas as pd 
import numpy as np
### Assignment 1: DataFrame Creation and Indexing

# 1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

# Question 1

df = pd.DataFrame(np.random.randint(1,100, size=(6,4)), columns=["A", "B", "C", "D"])

df.set_index("A", inplace=True)
print(df)

     B   C   D
A
66  85  21  26
50  24  72  17
55  67  26  80
67   7  20  29
72  97  88  25
92  32  38  41

In [2]:
# df.describe()
# 2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

df3 = pd.DataFrame(np.random.randint(1,10, size=(3,3)), columns=['A', 'B', 'C'], index=['X', 'Y', 'Z'])
df3

   A  B  C
X  5  4  5
Y  5  3  4
Z  9  6  9

In [3]:
### Assignment 2: DataFrame Operations

# 1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
df35 = pd.DataFrame(np.random.randint(1,10, size=(5,3)), columns=list('ABC'))
df35['D'] = df35['A']* df35['B']
# df35
# 2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.
df43 = pd.DataFrame(np.random.randint(1,20, size=(4,3)), columns=list('ABC'))
print(df43, '\n')
print('Column Sum \n', df43.sum(axis=0), 'Row Sum \n', df43.sum(axis=1))

    A  B   C
0  16  1   5
1   9  6  13
2   8  3  11
3  18  2  14

Column Sum
 A    51
B    12
C    43
dtype: int64 Row Sum
 0    22
1    28
2    22
3    34
dtype: int64

In [4]:
### Assignment 3: Data Cleaning

# 1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
a3q1 = pd.DataFrame(np.random.randint(1,100, size=(5,3)), columns=list('ABC'))
a3q1.iloc[0,1] = np.nan
a3q1.iloc[2,1] = np.nan
a3q1.iloc[3,0] = np.nan
a3q1.iloc[2,2] = np.nan
# print(a3q1)
# print(a3q1.mean())
# a3q1.iloc[0,1] = a3q1.mean()['B']
# a3q1.iloc[3,0] = a3q1.mean()['A']
# a3q1.iloc[2,2] = a3q1.mean()['C']
# print(a3q1)
print(a3q1)
print(a3q1.mean())
a3q1.fillna(a3q1.mean(), inplace=True)
a3q1

      A     B     C
0  75.0   NaN  32.0
1  88.0  44.0  69.0
2   1.0   NaN   NaN
3   NaN   9.0  20.0
4  43.0  56.0  12.0
A    51.750000
B    36.333333
C    33.250000
dtype: float64

       A          B      C
0  75.00  36.333333  32.00
1  88.00  44.000000  69.00
2   1.00  36.333333  33.25
3  51.75   9.000000  20.00
4  43.00  56.000000  12.00

In [5]:
# 2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.
a3q2 = pd.DataFrame(np.random.randint(1,100, size=(6,4)), columns=list('ABCD'))
a3q2.iloc[1,1] = np.nan
a3q2.iloc[2,2] = np.nan
a3q2.iloc[3,3] = np.nan
a3q2.iloc[4,2] = np.nan
a3q2.dropna(inplace=True)
a3q2

    A     B     C     D
0  97   5.0  79.0   9.0
5  89  51.0  71.0  92.0

In [6]:
### Assignment 5: Merging DataFrames

# 1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
a5q1 = pd.DataFrame({"Name":["Ankur", "Sunny", "Vivek", "Matroo", "Kanchan"], "Age":[25, 29, 32, 55, 53]})
a5q1_2 = pd.DataFrame({"Name":["Ankur", "Sunny", "Vivek", "Matroo", "Kanchan"], "Salary":[0, 30000, 32400, 55000, 1000000]})
pd.merge(a5q1,a5q1_2,on='Name')

      Name  Age   Salary
0    Ankur   25        0
1    Sunny   29    30000
2    Vivek   32    32400
3   Matroo   55    55000
4  Kanchan   53  1000000

In [7]:
# 2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns
a5q2_a = pd.DataFrame({"Family":["Ankur", "Sunny", "Vivek", "Matroo", "Kanchan", "Aayusi"],'weight':[60,70,20,40,70,80]})
a5q2_b = pd.DataFrame({"abc":["bsf", "njsa", "jdsh", "xkjdwhi", "cdic", "jdsaha"],'chsu':['cscs','dhsi','csdcies','skjac','dsagca','cnsajciau']})
print(pd.concat([a5q2_a, a5q2_b], axis=0),'\n')
print(pd.concat([a5q2_a, a5q2_b], axis=1))

    Family  weight      abc       chsu
0    Ankur    60.0      NaN        NaN
1    Sunny    70.0      NaN        NaN
2    Vivek    20.0      NaN        NaN
3   Matroo    40.0      NaN        NaN
4  Kanchan    70.0      NaN        NaN
5   Aayusi    80.0      NaN        NaN
0      NaN     NaN      bsf       cscs
1      NaN     NaN     njsa       dhsi
2      NaN     NaN     jdsh    csdcies
3      NaN     NaN  xkjdwhi      skjac
4      NaN     NaN     cdic     dsagca
5      NaN     NaN   jdsaha  cnsajciau

    Family  weight      abc       chsu
0    Ankur      60      bsf       cscs
1    Sunny      70     njsa       dhsi
2    Vivek      20     jdsh    csdcies
3   Matroo      40  xkjdwhi      skjac
4  Kanchan      70     cdic     dsagca
5   Aayusi      80   jdsaha  cnsajciau

In [8]:
### Assignment 6: Time Series Analysis

# 1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
from datetime import datetime, timedelta
date_today = datetime.now()
days = pd.date_range(date_today,date_today + timedelta(400),freq='D')
df = pd.DataFrame(days, columns=['date'])
df['numbers'] = np.random.randint(1,100, size=(len(days)))
# df.set_index('date', inplace=True)
# print(df)
# monthely_mean = df.resample('M').mean()
# print(monthely_mean)
# df['year_month'] = df['date'].dt.to_period('M')
monthely_mean = df.groupby('date')['numbers'].mean()
monthely_mean

date
2025-07-16 08:49:53.062269    81.0
2025-07-17 08:49:53.062269    46.0
2025-07-18 08:49:53.062269     4.0
2025-07-19 08:49:53.062269    23.0
2025-07-20 08:49:53.062269    52.0
                              ...
2026-08-16 08:49:53.062269    34.0
2026-08-17 08:49:53.062269    48.0
2026-08-18 08:49:53.062269    22.0
2026-08-19 08:49:53.062269    81.0
2026-08-20 08:49:53.062269    89.0
Name: numbers, Length: 401, dtype: float64

In [9]:
# 2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

time_today_1 = datetime.today()
timerange = pd.date_range('2021-01-01', '2021-12-31')
df_1 = pd.DataFrame(timerange, columns=['date'])
df_1['numbers'] = np.random.randint(1,100, size=(len(timerange)))
df_1.set_index('date', inplace=True)
roaling_mean = df_1['numbers'].rolling(window=7).max()
roaling_mean

date
2021-01-01     NaN
2021-01-02     NaN
2021-01-03     NaN
2021-01-04     NaN
2021-01-05     NaN
              ...
2021-12-27    91.0
2021-12-28    91.0
2021-12-29    89.0
2021-12-30    89.0
2021-12-31    89.0
Name: numbers, Length: 365, dtype: float64

In [ ]:
### Assignment 7: MultiIndex DataFrame

# 1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
from itertools import product

regions = ['UP', 'MP', 'DL']
years = ['2020', '2021', '2022']
# test = list(zip(regions, years))
# test
print(product(regions, years))
# return
index = pd.MultiIndex.from_tuples(
    list(product(regions, years)),
    names=['Region', 'Year']
)
df = pd.DataFrame(
    np.random.randint(1, 100, size=(9, 3)),
    index=index,
    columns=['Value1', 'Value2', 'Value3']
)
print(df)
print(df.loc['UP'], '\n')
# print(df.xs('2020', level='Years'))
# Get specific cell: DL in 2022, column Value1 
# print(df.loc[('DL', '2022'), 'Value1'])

<itertools.product object at 0x71ceeaec8640>

SyntaxError: 'return' outside function (414684973.py, line 11)

In [ ]:
# 2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.