# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [1]:

import pandas as pd 
import numpy as np
### Assignment 1: DataFrame Creation and Indexing

# 1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

# Question 1

df = pd.DataFrame(np.random.randint(1,100, size=(6,4)), columns=["A", "B", "C", "D"])

df.set_index("A", inplace=True)
print(df)

     B   C   D
A
77  23  75  31
81  43  46  58
33   3  24   2
58  98  90  93
67   6  35  62
54  27  93  23

In [2]:
# df.describe()
# 2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

df3 = pd.DataFrame(np.random.randint(1,10, size=(3,3)), columns=['A', 'B', 'C'], index=['X', 'Y', 'Z'])
df3

   A  B  C
X  1  4  3
Y  6  2  5
Z  8  1  1

In [3]:
### Assignment 2: DataFrame Operations

# 1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
df35 = pd.DataFrame(np.random.randint(1,10, size=(5,3)), columns=list('ABC'))
df35['D'] = df35['A']* df35['B']
# df35
# 2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.
df43 = pd.DataFrame(np.random.randint(1,20, size=(4,3)), columns=list('ABC'))
print(df43, '\n')
print('Column Sum \n', df43.sum(axis=0), 'Row Sum \n', df43.sum(axis=1))

    A   B   C
0  16  19  16
1   5  13  15
2   5   6  19
3   6  13  17

Column Sum
 A    32
B    51
C    67
dtype: int64 Row Sum
 0    51
1    33
2    30
3    36
dtype: int64

In [4]:
### Assignment 3: Data Cleaning

# 1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
a3q1 = pd.DataFrame(np.random.randint(1,100, size=(5,3)), columns=list('ABC'))
a3q1.iloc[0,1] = np.nan
a3q1.iloc[2,1] = np.nan
a3q1.iloc[3,0] = np.nan
a3q1.iloc[2,2] = np.nan
# print(a3q1)
# print(a3q1.mean())
# a3q1.iloc[0,1] = a3q1.mean()['B']
# a3q1.iloc[3,0] = a3q1.mean()['A']
# a3q1.iloc[2,2] = a3q1.mean()['C']
# print(a3q1)
print(a3q1)
print(a3q1.mean())
a3q1.fillna(a3q1.mean(), inplace=True)
a3q1

      A     B     C
0  37.0   NaN  74.0
1  58.0  80.0  26.0
2  48.0   NaN   NaN
3   NaN  24.0  46.0
4  81.0  45.0  66.0
A    56.000000
B    49.666667
C    53.000000
dtype: float64

      A          B     C
0  37.0  49.666667  74.0
1  58.0  80.000000  26.0
2  48.0  49.666667  53.0
3  56.0  24.000000  46.0
4  81.0  45.000000  66.0

In [5]:
# 2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.
a3q2 = pd.DataFrame(np.random.randint(1,100, size=(6,4)), columns=list('ABCD'))
a3q2.iloc[1,1] = np.nan
a3q2.iloc[2,2] = np.nan
a3q2.iloc[3,3] = np.nan
a3q2.iloc[4,2] = np.nan
a3q2.dropna(inplace=True)
a3q2

    A     B     C     D
0  11  85.0  60.0  98.0
5  24  15.0  85.0  33.0

In [6]:
### Assignment 5: Merging DataFrames

# 1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
a5q1 = pd.DataFrame({"Name":["Ankur", "Sunny", "Vivek", "Matroo", "Kanchan"], "Age":[25, 29, 32, 55, 53]})
a5q1_2 = pd.DataFrame({"Name":["Ankur", "Sunny", "Vivek", "Matroo", "Kanchan"], "Salary":[0, 30000, 32400, 55000, 1000000]})
pd.merge(a5q1,a5q1_2,on='Name')

      Name  Age   Salary
0    Ankur   25        0
1    Sunny   29    30000
2    Vivek   32    32400
3   Matroo   55    55000
4  Kanchan   53  1000000

In [7]:
# 2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns
a5q2_a = pd.DataFrame({"Family":["Ankur", "Sunny", "Vivek", "Matroo", "Kanchan", "Aayusi"],'weight':[60,70,20,40,70,80]})
a5q2_b = pd.DataFrame({"abc":["bsf", "njsa", "jdsh", "xkjdwhi", "cdic", "jdsaha"],'chsu':['cscs','dhsi','csdcies','skjac','dsagca','cnsajciau']})
print(pd.concat([a5q2_a, a5q2_b], axis=0),'\n')
print(pd.concat([a5q2_a, a5q2_b], axis=1))

    Family  weight      abc       chsu
0    Ankur    60.0      NaN        NaN
1    Sunny    70.0      NaN        NaN
2    Vivek    20.0      NaN        NaN
3   Matroo    40.0      NaN        NaN
4  Kanchan    70.0      NaN        NaN
5   Aayusi    80.0      NaN        NaN
0      NaN     NaN      bsf       cscs
1      NaN     NaN     njsa       dhsi
2      NaN     NaN     jdsh    csdcies
3      NaN     NaN  xkjdwhi      skjac
4      NaN     NaN     cdic     dsagca
5      NaN     NaN   jdsaha  cnsajciau

    Family  weight      abc       chsu
0    Ankur      60      bsf       cscs
1    Sunny      70     njsa       dhsi
2    Vivek      20     jdsh    csdcies
3   Matroo      40  xkjdwhi      skjac
4  Kanchan      70     cdic     dsagca
5   Aayusi      80   jdsaha  cnsajciau

In [8]:
### Assignment 6: Time Series Analysis

# 1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
from datetime import datetime, timedelta
date_today = datetime.now()
days = pd.date_range(date_today,date_today + timedelta(400),freq='D')
df = pd.DataFrame(days, columns=['date'])
df['numbers'] = np.random.randint(1,100, size=(len(days)))
# df.set_index('date', inplace=True)
# print(df)
# monthely_mean = df.resample('M').mean()
# print(monthely_mean)
# df['year_month'] = df['date'].dt.to_period('M')
monthely_mean = df.groupby('date')['numbers'].mean()
monthely_mean

date
2025-07-18 08:48:20.851513    18.0
2025-07-19 08:48:20.851513    94.0
2025-07-20 08:48:20.851513    37.0
2025-07-21 08:48:20.851513    88.0
2025-07-22 08:48:20.851513    61.0
                              ...
2026-08-18 08:48:20.851513    32.0
2026-08-19 08:48:20.851513    63.0
2026-08-20 08:48:20.851513    41.0
2026-08-21 08:48:20.851513    77.0
2026-08-22 08:48:20.851513    75.0
Name: numbers, Length: 401, dtype: float64

In [9]:
# 2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

time_today_1 = datetime.today()
timerange = pd.date_range('2021-01-01', '2021-12-31')
df_1 = pd.DataFrame(timerange, columns=['date'])
df_1['numbers'] = np.random.randint(1,100, size=(len(timerange)))
df_1.set_index('date', inplace=True)
roaling_mean = df_1['numbers'].rolling(window=7).max()
roaling_mean

date
2021-01-01     NaN
2021-01-02     NaN
2021-01-03     NaN
2021-01-04     NaN
2021-01-05     NaN
              ...
2021-12-27    90.0
2021-12-28    70.0
2021-12-29    70.0
2021-12-30    70.0
2021-12-31    81.0
Name: numbers, Length: 365, dtype: float64

In [10]:
### Assignment 7: MultiIndex DataFrame

# 1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
from itertools import product

regions = ['UP', 'MP', 'DL']
years = ['2020', '2021', '2022']
# test = list(zip(regions, years))
# test
index = pd.MultiIndex.from_tuples(
    list(product(regions, years)),
    names=['Region', 'Year']
)
df = pd.DataFrame(
    np.random.randint(1, 100, size=(9, 3)),
    index=index,
    columns=['Value1', 'Value2', 'Value3']
)
print(df)
print(df.loc['UP'], '\n')
# print(df.xs('2020', level='Years'))
# Get specific cell: DL in 2022, column Value1 
print(df.loc[('MP', '2022'), 'Value1'])

             Value1  Value2  Value3
Region Year
UP     2020      16      24      14
       2021      71      72      10
       2022      23      92      15
MP     2020      94      17       5
       2021      79      50      37
       2022      90      97      22
DL     2020      41      26      16
       2021      49       5      26
       2022      67      71      21
      Value1  Value2  Value3
Year
2020      16      24      14
2021      71      72      10
2022      23      92      15

90

In [11]:
# 2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.
# Define actual categories and subcategories
categories = ['Clothing', 'Footwear']
subcategories = ['Jeans', 'T-Shirt', 'Top', 'Shoe', 'Socks']
multi_index = pd.MultiIndex.from_tuples(
    [('Clothing', 'Jeans'), 
     ('Clothing', 'T-Shirt'),
     ('Clothing', 'Top'),
     ('Footwear', 'Shoe'),
     ('Footwear', 'Socks')] * 2,  # 2 entries for each pair
    names=['Category', 'SubCategory']
)

# Create DataFrame
df = pd.DataFrame(
    np.random.randint(1, 100, size=(10, 2)),
    index=multi_index,
    columns=['Sales_A', 'Sales_B']
)

# Display DataFrame
print("MultiIndex DataFrame:\n", df)

# Sum by Category
print("\n🔹 Sum by Category:\n", df.groupby(level='Category').sum())

# Sum by SubCategory
print("\n🔹 Sum by SubCategory:\n", df.groupby(level='SubCategory').sum())

MultiIndex DataFrame:
                       Sales_A  Sales_B
Category SubCategory
Clothing Jeans             70       28
         T-Shirt           39       57
         Top               94       55
Footwear Shoe              74       37
         Socks              8       65
Clothing Jeans              4       76
         T-Shirt           73        7
         Top               29       19
Footwear Shoe              28       55
         Socks             77       99

🔹 Sum by Category:
           Sales_A  Sales_B
Category
Clothing      309      242
Footwear      187      256

🔹 Sum by SubCategory:
              Sales_A  Sales_B
SubCategory
Jeans             74      104
Shoe             102       92
Socks             85      164
T-Shirt          112       64
Top              123       74

In [12]:
### Assignment 8: Pivot Tables

# 1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
date_range = pd.date_range(start='2025-07-01', periods=10, freq='D')
category = list('ABC')
data = {
    'Date': np.random.choice(date_range, size=20),
    'Category' : np.random.choice(category, size=20),
    'Value' : np.random.randint(1,100, size=20)
}
df_8_1 = pd.DataFrame(data)
pivot_table = pd.pivot_table(df_8_1, values='Value', index='Date', columns='Category', aggfunc='sum', fill_value=0)
# print('Original data \n', df_8_1)

print('Pivot table with sum of Category wise \n',pivot_table)
# print("Sum Of value for each Category by Date \n", pd.)

Pivot table with sum of Category wise
 Category     A    B    C
Date
2025-07-01   0    0    8
2025-07-02  79   23    0
2025-07-05   0   56    0
2025-07-06  73   42    0
2025-07-07  29   70   34
2025-07-08  62  126  153
2025-07-09   0   79    0

In [13]:
# 2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.
years = [2020, 2021, 2022, 2023, 2023]
queater = ['Jan - March', 'April - June', 'July - Sep', 'Oct - Dec']
data_for_df = {
    'Year' : np.random.choice(years, size=25),
    'Quarter' : np.random.choice(queater, size=25),
    'Revenue' : np.random.randint(200000, 300000000, size= 25)
}
df_8_2 = pd.DataFrame(data_for_df)
pivot_table_8_2 = pd.pivot_table(df_8_2, values='Revenue', index='Year', columns='Quarter', aggfunc='mean', fill_value=0)
pivot_table_8_2

Quarter  April - June  Jan - March    July - Sep    Oct - Dec
Year
2020      112570751.0          0.0  7.581436e+07          0.0
2021              0.0  140378767.0  0.000000e+00  202030273.5
2022      142124400.0  244902612.0  1.153004e+08          0.0
2023              0.0  135326433.0  1.036009e+08  160756802.0

In [18]:
### Assignment 9: Applying Functions

# 1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
df_9_1 = pd.DataFrame(np.random.randint(1,100, size=(5,3)))
print(df_9_1,'\nFirst method \n',df_9_1*2, '\nSecond Method \n', df_9_1.map(lambda x: x*2))

    0   1   2
0  23  87  94
1  58  86  16
2  70  68  68
3  61   6   1
4  47   9  23
First method
      0    1    2
0   46  174  188
1  116  172   32
2  140  136  136
3  122   12    2
4   94   18   46
Second Method
      0    1    2
0   46  174  188
1  116  172   32
2  140  136  136
3  122   12    2
4   94   18   46

In [23]:
# 2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.
df_9_2 = pd.DataFrame(np.random.randint(1,100, size=(6,3)), columns=list('ABC'))
# df_9_2['Sum'] = df_9_2.apply(lambda row: row['A'] + row['B']+row['C'], axis=1)
# to get Column wise com 
df_9_2.loc['Total'] = df_9_2.sum()
df_9_2

         A    B    C
0        1   52   84
1        1   79   14
2       31   83   77
3       83   87   66
4       42   52   11
5       93   99   34
Total  251  452  286

In [24]:
### Assignment 10: Working with Text Data

# 1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
words = pd.Series(['apple', 'banana', 'cherry', 'date', 'fig'])
uppercase_words = words.str.upper()
print(uppercase_words)

0     APPLE
1    BANANA
2    CHERRY
3      DATE
4       FIG
dtype: object

In [26]:
# 2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.
words_2 = pd.Series(['apple', 'banana', 'cherry', 'date', 'fig'])
get_three_letter = words_2.str[:3]
get_three_letter

0    app
1    ban
2    che
3    dat
4    fig
dtype: object