# Module: SQLite3 Assignments
## Lesson: SQLite3
### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.
2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.
2. Insert at least 5 different employees into the `employees` table.

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.
2. Write a Python function to fetch and display all employees from a specific department.

### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.
2. Update the department of at least 2 employees and display the updated records.

### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.
2. Delete at least 1 employee and display the remaining records.

### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.
2. Write a Python function to fetch and display employees whose names start with a specific letter.

### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.
2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

### Assignment 8: Creating Relationships

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).
2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.
3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

### Assignment 9: Indexing and Optimization

1. Create an index on the `name` column of the `employees` table.
2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

### Assignment 10: Backing Up and Restoring Data

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.
2. Write a Python function to restore the `test.db` database from the `backup.db` file.

In [1]:
import sqlite3

In [2]:
### Assignment 1: Creating and Connecting to a Database

# 1. Write a Python function to create a new SQLite3 database named `test.db`.
db_name = 'sqlite3.db'
connection = sqlite3.connect(db_name)

In [3]:

# 2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.
cursor = connection.cursor()
cursor.execute('''
CREATE TABLE if not exists employee(
               id INTEGER  PRIMARY KEY AUTOINCREMENT,
               name text(200),
               age INTEGER,
               department text(200))
''')

In [4]:
cursor.execute("INSERT into employee (name, age, department) VALUES (?, ?, ?)", ("Vivke", 31, "Tech"))
connection.commit()

In [26]:

cursor.execute("SELECT * from employee")
# cursor.execute("truncate employee")
records = cursor.fetchall()
for row in records:
    print(row)
connection.commit()
# cursor.close()

(1, 'Vivke', 31, 'Tech')
(2, 'Vivke', 31, 'Tech')
(3, 'Vivke', 31, 'Tech')
(4, 'Vivke', 31, 'Tech')
(5, 'Vivke', 31, 'Tech')

In [5]:
cursor.execute("DROP TABLE IF EXISTS employee")

connection.commit()